.Panel__top {
  position: relative;
  height: 147.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #175786;
}

.Panel__row {
  min-height: 50px;
  border-bottom: 1px solid #d8dde3;
  padding-left: 23px;
}

.Panel__title {
  line-height: 3.43;
}

.Panel__text {
  line-height: 2.29;
}

.Panel__selected {
  border-left: 2px solid #2888d1;
  margin-left: -23px;
  padding-left: 21px;
}

.Panel__img {
  height: 12px;
  width: 12px;
  margin-left: 16px;
}
