.App__panel_top {
  position: relative;
  height: 147.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #175786;
}

.App__panel_row {
  min-height: 50px;
  border-bottom: 1px solid #d8dde3;
  padding-left: 23px;
}

.App__panel_title {
  line-height: 3.43;
}

.App__panel_text {
  line-height: 2.29;
}

.App__pabel_img {
  height: 12px;
  width: 12px;
  margin-left: 16px;
}
