.App {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}

.App__header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #175786;
  padding: 0 25px;
}

.App__header_left {
  display: flex;
  align-items: center;
}

.App__header_text_styles {
  font-family: OpenSans;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.63px;
  color: #ffffff;
}

.App__header_margin_left {
  margin-left: 35px;
}

.App__header_text {
  margin-left: 39px;
}

.App__panel_top {
  position: relative;
  height: 147.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #175786;
}

.App__panel_block {
  min-height: 50px;
  border-bottom: 1px solid #d8dde3;
  padding-left: 23px;
}

.App__panel_title {
  line-height: 3.43;
  letter-spacing: 0.4px;
  color: #53687e;
}

.App__panel_normal {
  line-height: 2.29;
  color: #334152;
}

.App__panel_bold {
  font-weight: 600;
}

.App__panel_light {
  color: #8c96a3;
}

.App__body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #f7f8fa;
}

.App__body_content {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 25px;
  box-sizing: border-box;
}

.App__body_left {
  width: 219px;
  border: solid 1px #ffffff;
  background-color: #e9f0f5;
  box-sizing: border-box;
}

.App__body_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 28px 62px;
  background-color: white;
  box-sizing: border-box;
}

.App_title {
  margin-bottom: 19px;
}

.App__title_big {
  font-family: OpenSans;
  font-size: 32px;
  line-height: 1.47;
  letter-spacing: 2px;
  color: #53687e;
}

.App__title_big_grey {
  color: #b7bdc4;
}

.App__office {
  height: 100%;
  overflow-y: auto;
}

.App__office_row {
  display: flex;
  justify-content: space-between;
}

.App__office_margin_bottom {
  margin-bottom: 18px;
}

.App__footer {
  display: flex;
  justify-content: space-between;
}

.App__footer_margin_left {
  margin-left: 71px;
}

.App__footer_btn {
  margin-left: 32px;
}

.App__btn_big {
  height: 32px;
}

.App__text_normal {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.4px;
  color: #334152;
}

.App__text_bold {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.4px;
  color: #53687e;
}

.App__horizontal_line_dotten {
  border: 1px dotted #b7bdc5;
  margin: 35px 0;
}
