.OfficeItem {
	height: 120px;
	border-radius: 2px;
	border: solid 1px #d7dce2;
	background-color: #ffffff;
	padding: 13px 33px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.OfficeItem__text {
	line-height: 1.29;
}

.OfficeItem__column_wrapper {
	display: flex;
}

.OfficeItem__row {
	display: flex;
	justify-content: flex-end;
}

.OfficeItem__label {
	margin-right: 15px;
}

.OfficeItem__office_inf {
	width: 245px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.OfficeItem__column_margin_left {
	margin-left: 64px;
}
