.OfficeForm__content {
	width: 100%;
}

.OfficeForm__content_form {
	display: flex;
	justify-content: space-between;
	height: 281px;
	border-radius: 2px;
	border: solid 1px #d7dce2;
	background-color: #ffffff;
	padding: 15px 32px 34px 10px;
	box-sizing: border-box;
}

.OfficeForm__form_column_wrapper {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.OfficeForm__form_column {
	display: flex;
	flex-direction: column;
}

.OfficeForm__form_row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 8px;
}

.OfficeForm__form_label {
	line-height: 1.14;
}

.OfficeForm__form_field {
	width: 191px;
	height: 32px;
	border-radius: 2px;
	border: solid 1px #d8dde3;
	box-sizing: border-box;
	margin-left: 13px;
}

.OfficeForm__form_field_invalid {
	border: solid 1px red;
}

.OfficeForm__form_checkbox_wrapper {
	display: flex;
	align-items: center;
	width: 191px;
	border-radius: 2px;
	margin-left: 10px;
}

.OfficeForm__form_checkbox {
	margin: 0 8px 0 0;
}

.OfficeForm__margin_left {
	margin-left: 10px;	
}
