.Footer {
  display: flex;
  justify-content: space-between;
}

.Footer__margin_left {
  margin-left: 71px;
}

.Footer__btn {
  margin-left: 32px;
}

.Footer__center {
  display: flex;
  align-items: center;
}

.Footer__left, .Footer__right {
	display: flex;
}
